@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<dynamic>


<section class="container mt-4">
    <div class="card p-4">
        @Model.FirstOrDefault().workflow_no
    </div>
</section>